{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Yangi ishchi qo‘shish</h2>
  
  <!-- Bootstrap formasi -->
  <form method="post" class="form-group shadow p-4 rounded bg-light">
    {% csrf_token %}
    {{ form.as_p }}
    
    <!-- Bootstrap button -->
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-success">Qo‘shish</button>
    <a href="{% url 'ishchilar_royxati' %}" class="btn btn-secondary">Orqaga</a>
  </div>
  </form>
</div>
{% endblock %}
