{% extends 'base.html' %}

{% block content %}


  <h2 class="mb-4">Ishchilar ro'yxati</h2>
  
  <!-- Bootstrap table for displaying workers list -->
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Ism</th>
        <th>Jami ish soati</th>
        <th>Kechikkanlar</th>
        <th>Ishlagan kunlar</th>
        <th>Ishlamagan kunlar</th>
      </tr>
    </thead>

    <tbody>
      {% for ishchi in ishchilar_haqida %}
        <tr>
          <td>{{ ishchi.ishchi }}</td>
          <td>{{ ishchi.jami_ish_soati }}</td>
          <td>
            {% for kechikkan in ishchi.kechikkanlar %}
              <span class="badge bg-warning">{{ kechikkan.kun }}: {{ kechikkan.boshlanish_vaqti }}</span><br>
            {% endfor %}
          </td>
          <td>{{ ishchi.ishlagan_kunlar }}</td>
          <td>{{ ishchi.ishlamagan_kunlar }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
